// ROOT

$color-primary: #99C46B;
$color-primary-dark: #538B17;
$color-white: #fff;
$color-black: #000;

*{
    margin: 0;
    padding: 0;
    font-family: Inter;
    list-style: none;
    text-decoration: none;
}

body{
    overflow-x: hidden;
}


// NAVBAR
header{
    padding: 25px 0;


    nav{
        display: flex;
        margin: 0 auto;
        justify-content: space-between;
    
        .desk-list{
            display: none;
        }

        .nav-list{
            z-index: 5;
            position: absolute;
            top: 80px;
            width: 100vw;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            transform: translateX(100%);
            transition: transform 0.3s ease-in;
            background: #787878;
            margin-bottom: 1em;

            .first-li{
                margin-top: 3em;
            }

            .sign-in{
                a{
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .user-icon{
                        margin-right: 10px;
                    }
                }
                
                
            }
        }

        .active{
            transform: translateX(0%);
            .line1{
                transform: rotate(-45deg) translate(-8px, 8px);
            }
            .line2{
                opacity: 0;
            }
            .line3{
                transform: rotate(45deg) translate(-5px, -7px);
            }
        }

        .logo{
            width: 135px;
            transform: translateY(-5px);
            padding-left: 25px;
        }

        .desktop{
            display: none;

            
            .sign-in{
                a{
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .user-icon{
                        margin-right: 10px;
                    }
                }
                
                
            }
    

        }

        ul{
            li{
                list-style: none;
                margin-right: 0em;
                margin-bottom: 4em;

                a{
                    text-decoration: none;
                    color: $color-white;
                    transition: 0.5s;

                    &:hover{
                        color: $color-primary-dark;
                    }
                }


            }
        }

        .menu{
            display: flex;
            flex-direction: column;
            cursor: pointer;
            margin-right: 25px;
            span{
                width: 28px;
                height: 3px;
                background: $color-white;
                margin: 3.5px;
                transition: 0.3s;
            }   

        }
    }
}

// SECTION HERO 

.hero-background{
    object-fit: cover;
    width: 100vw;
    height: 81vh;
    min-height: 600px;
    position: absolute;
    top: 0;
    z-index: -1;
}

.hero-section{
    .typo{
        width: 100vw;
        height: 69vh;
        min-height: 500px;
        max-width: 350px;
        padding: 0 0 0em 2em;
        transform: translateY(20%);
        h1{
            font-size: 3.7em;
            text-transform: uppercase;
            color: $color-white;
            margin-bottom: .3em;
            max-width: 330px;
        }

        p{
            color: $color-white;
            font-weight: 400;
            max-width: 330px;
        }

        .rent-ad{
            margin-top: 2em;
            a{
                display: flex;
                align-items: center;

                .arrow{
                    margin-right: 10px;
                }
            }
        }
    }

    .benefits{
        display: flex;
        background-color: $color-primary;
        justify-content: space-between;

        .item{
            padding: 2em;
            max-width: 300px;

            .title{
                display: flex;
                align-items: center;
                margin-bottom: 1em;

                svg{
                    margin-right: 10px;
                }
            }
        }

        .selected{
            border-top: $color-primary solid 4px;
            background: linear-gradient(180deg, #bebebe 0%, #FFFFFF 100%);
        }

        .second{
            display: none;
        }
    }
}

.frota-section{
    margin: 2em;
    .typo-frota{
        display: flex;
        align-items: baseline;
        margin-top: 4em;
        margin-bottom: 1.5em;

        h1{
            font-size: 1.7em;
        }

        a{
            color: $color-primary-dark;
            font-weight: 500;
            margin-left: 15px;
        }
    }

    .cards{

        .two, .three{
            display: none;
        }

        .card{
            padding: 1em;
            border-top: $color-primary solid 4px;
            background: linear-gradient(180deg, #bebebe 0%, #FFFFFF 100%);
            max-width: 350px;
            width: 274.5px;
            img{
                max-width: 300px;
                transform: translateX(-25px);
            }

            .red{
                scale: .9;
                transform: translate(-15px, 30px);
            }

            .blue{
                transform: translate(-15px, 10px);
            }

            p{
                max-width: 280px;
                margin-top: 5px;
                &:nth-of-type(1){
                    color: $color-primary-dark;
                    font-size: 1.1em;
                    font-weight: 500;
                }
            }

            button{
                border-radius: 5px;
                border: none;
                background-color: $color-primary;
                width: 280px;
                padding: 5px 0;
                font-size: 1em;
                cursor: pointer;
                transition: .5s;
                font-weight: 500;
                margin-top: 1em;

                &:hover{
                    background-color: $color-primary-dark;
                    color: #fff;
                }
            }
        }
    }
}

.services-section{
    margin-bottom: 4em;
    .typo-services{
        margin: 4em 0 0 2em;

        .catch-phase{
            margin-bottom: 2.3em;
        }

        .logo-services{
            width: 200px;
            margin-bottom: 1em;
        }
        .check{
            display: flex;
            margin-bottom: 1.2em;
            svg{
                margin-right: 10px;
            }
        }
    }

    .green-circle{
        display: none;
    }
}

footer{
    background-color: $color-primary;
    padding: 4em 0 3em 2em;
    z-index: 100;
    .useful-links{
        display: flex;
        margin-bottom: 2em;
        .list{
            margin-right: 3em;

            .header{
                font-weight: 600;
            }

            p{
                a{
                    color: #000;
                    transition: .5s;
                    &:hover{
                        margin-left: .5em;
                        color: #34590d;
                    }
                }
            }
        }
    }
    .direitos{
        margin-top: 1em;
    }
}

// RESPONSIVIDADE

@media only screen and (min-width: 768px){
    header{
    
        nav{
            display: flex;
            flex-direction: row;
            margin: 0 auto;
            justify-content: space-between;
            align-items: center;
            max-width: 1200px;

            .nav-list{
                display: none;
            }

            .desk-list{
                display: flex;
                flex-direction: row;
                align-items: center;
                li{
                    min-width: 80px;
                }
            }

            .desktop{
                display: flex;
                flex-direction: row;
                align-items: center;
            }

            ul{
                display: flex;
                flex-direction: row;
                li{
                    margin-right: 0.9em;
                    margin-bottom: 0em;
                }
            }
            .menu{
                display: none;
            }
        }
    }

    .frota-section{
        .cards{
            display: flex;
            .card{
                margin-right: 2em;
            }
            .two{
                display: block;
            }
        }
    }
}

@media only screen and (min-width: 920px){
    header{
        padding: 25px;
        nav{
            .logo{
                width: 175px;
                height: 39px;
            }

            ul{
                li{
                    margin-right: 3em;
                }
            }
        }
    }

    .frota-section{
        margin: 6em 2em 8em 2em;
    }

    .services-section{
        position: relative;
        .green-circle{
            display: block;
            background-color: $color-primary;
            width: 530px;
            height: 530px;
            border-radius: 50%;
            position: absolute;
            top: 0;
            right: 0;
            transform: translateX(40px);
            z-index: -3;

            p{
                color: #fff;
                font-size: 3.5em;
                font-weight: 800;
                text-align: center;
                transform: translate(100px ,100px);
                max-width: 330px;
            }
        }
    }
}

@media only screen and (min-width: 1100px){
    .hero-section{
        .typo{
            max-width: 1200px;
            display: flex;
            flex-direction: column;
            margin: 0 auto;
        }
        .benefits{
            justify-content: center;

            .item{
                max-width: 347px;

            }
            .second{
                display: block;
                background-color: $color-white;
                position: relative;
                
                &::after{
                    position: absolute;
                    top: 0;
                    right: -90%;
                    content: '';
                    width: 400px;
                    height: 364px;
                    background-color: #fff;
                    border-right: 600px;
                }
            }
        }
    }

    .frota-section{
        max-width: 1170px;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        padding: 3em 0;
        .cards{
            .three{
                display: block;

                .blue{
                    margin: 1.55em 0;
                }
            }
        }
    }

    .services-section{
        max-width: 1170px;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        transform: translateX(-30px);

        .typo-services{
            margin-bottom: 4em;
            .logo-services{
                width: 250px;
            }

            .catch-phase{
                font-size: 1.1em;
            }

            .check{
                p{
                    font-size: 1.1em;
                }
            }
        }

        .green-circle{
            clip-path: circle(50% at 50% 100%);
            border-radius: none;
            width: 1100px;
            /* height: 691px; */
            transform: translate(270px, -21px);

            p{
                transform: translate(380px, 210px);
            }
        }
    }

    footer{
        max-width: 1200px;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        box-shadow: 0 0 0 100vmax $color-primary;
        clip-path: inset(0 -100vmax);
    }
}