<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ALVESRent | Lista de carros</title>
    <link rel="stylesheet" href="../static/css/car-list/car_list.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav>
            <img class="logo" src="/assets/black-logo.svg" alt="logo">
            <ul class="desk-list">
                <li class="first-li"><a href="#">Home</a></li>
                <li><a href="#">Serviços</a></li>
                <li><a href="#">Carros</a></li> 
            </ul>
            <ul class="nav-list">
                <li class="first-li"><a href="#">Home</a></li>
                <li><a href="#">Serviços</a></li>
                <li><a href="#">Carros</a></li>
                <button class="cadastrar" id="cadastrar-veiculo" onclick="showPostFields()">Cadastrar veículo</button>
                <li class="sign-in"><a href=""><img class="user-icon" src="../assets/signin-black.svg"><p>Entrar</p></a></li>

            </ul>
            <ul class="desktop">
                <button class="cadastrar" id="cadastrar-veiculo" onclick="showPostFields()">Cadastrar veículo</button>
                <li class="sign-in"><a href=""><img class="user-icon" src="../assets/signin-black.svg"><p>Entrar</p></a></li>
            </ul>
            <div class="menu">
                <span class="line1"></span>
                <span class="line2"></span>
                <span class="line3"></span>
            </div>
        </nav>
    </header>
    <main>
        <section class="carlist-section">
            <div id="pop-add">
                <div class="container">
                    <img id="close" src="../assets/close-icon.svg" alt="close">
                    <img src="../assets/black-logo.svg" alt="logo">
                    <h1>Cadastre seu veículo</h1>
                    <form id="formAdd">
                        <p id="p-modelo">
                            <label for="modelo">Insira o modelo</label>
                            <input type="text" name="modelo" id="modelo" placeholder="Modelo">
                        </p>

                        <p id="p-marca">
                            <label for="marca">Insira a marca</label>
                            <input type="text" name="marca" id="marca" placeholder="Marca">
                        </p>
                        
                        <p id="p-ano">
                            <label for="ano">Insira o ano</label>
                            <input type="text" name="ano" id="ano" placeholder="Ano">
                        </p>

                        <p id="p-observacao">
                            <label for="observacao">Insira a observacao</label>
                            <input type="text" name="observacao" id="observacao" placeholder="Obs">
                        </p>
                        
                        <p id="p-valor">
                            <label for="valor">Insira o valor</label>
                            <input type="text" name="valor" id="valor" placeholder="Valor diaria">
                        </p>
                        
                        <p id="p-status">
                            <label for="status">Insira o status</label>
                            <input type="text" name="status" id="status" placeholder="Status">
                        </p>

                        <button class="form-submit" id="form-add-confirm">Cadastrar carro</button>
                    </form>
                </div>
            </div>
            <div class="wrapper">
                <hr>
                <p class="href">Home/Lista de carros</p>
                <div class="typo">
                    <h1>Lista de carros</h1>
                </div>
            </div>
        </section>
        <h1>Lista de carros</h1>


        
        <h2>Carros</h2>
        <div class="container">
            <div id="cars"></div>
        </div>
    </main>
    <script src="../static/nav.js"></script>
    <script src="{{url_for('static', filename='script.js')}}"></script>
</body>
</html>